<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="show_table little_txt">
<!--                    {% if cxt.gene_detail_dict.OfficalSymbol %}-->
                        <tr>
                            <td>载体ID</td>
                            <td>VB201202-1157vqr</td>
                        </tr>
<!--                    {% endif %}-->
<!--                    {% if cxt.gene_detail_dict.NcbiGeneId %}-->

                        <tr>
                            <td>载体名称</td>
                            <td>pLV[gRNA]-EGFP:T2A:Neo-U6>Scramble[gRNA#1]</td>
                        </tr>
<!--                    {% endif %}-->
<!--                    {% if cxt.gene_detail_dict.Organism %}-->
                        <tr>
                            <td>载体⼤⼩</td>
                            <td>8603 bp</td>
                        </tr>
<!--                    {% endif %}-->
<!--                    {% if cxt.gene_detail_dict.OfficalFullName %}-->
                        <tr>
                            <td>病毒基因组⼤⼩</td>
                            <td>5128 bp</td>
                        </tr>
<!--                    {% endif %}-->
<!--                    {% if cxt.gene_detail_dict.Entrezgene_type %}-->

                        <tr>
                            <td>载体类型 </td>
                            <td>哺乳动物单gRNA表达慢病毒载体</td>
                        </tr>
<!--                    {% endif %}-->
<!--                    {% if cxt.gene_detail_dict.OtherAliases %}-->
                        <tr>
                            <td>gRNA</td>
                            <td>Scramble[gRNA#1]</td>
                        </tr>
<!--                    {% endif %}-->
<!--                    {% if cxt.gene_detail_dict.Summary %}-->
                        <tr>
                            <td>引导序列</td>
                            <td>GTGTAGTTCGACCATTCGTG</td>
                        </tr>
<!--                    {% endif %}-->
<!--                    {% if cxt.gene_detail_dict.Chromosome %}-->
                        <tr>
                            <td>筛选标记</td>
                            <td>EGFP:T2A:Neo</td>
                        </tr>
                        <tr>
                            <td>质粒拷⻉数</td>
                            <td>High</td>
                        </tr>
                        <tr>
                            <td>载体抗性</td>
                            <td>Ampicillin</td>
                        </tr>
                        <tr>
                            <td>克隆宿主</td>
                            <td>VB UltraStable （或其他适⽤菌株）</td>
                        </tr>
<!--                    {% endif %}-->
                </table>
</body>
</html>